@charset "utf-8";
/* CSS Document */

html, body {margin:0px; padding:0px;}
body {background-image:url(../images/bg.jpg);}

a:link {color:#0560ad; font-style:italic;}
a:visited {color:#0560ad; font-style:italic;}
a:hover {color:#0560ad; text-decoration:underline; font-style:italic;}
a:active {color:#0560ad; font-style:italic;}

/*** HEADER STYLES ***/
#head_outer {width:100%; height:30px; background-color:#3b3b3b; position:fixed; top:0px; left:0px; z-index:10;}
#head_inner {width:865px; height:30px; margin-left:auto; margin-right:auto;}
#nav_list {list-style-type:none; margin:0px; padding:0px;}
#nav_list li {float:left; margin:0px; padding:0px;}
#nav_list li img, .nav_arrow img {margin:0px; padding:0px; border:none;}

/*** INTRO STYLES ***/
#jkintro {margin: 70px auto 0px auto; width:865px;}

/*** Project Area Styles ***/
#project_container {width:950px; height:409px; margin: 40px auto 0px auto; padding:0px; position:relative;}
#prev_arrow, #next_arrow {width:40px; height:72px; position:absolute; top:168px; z-index:5;}
#prev_arrow {left:0px;}
#next_arrow {right:0px;}
#project_window {width:820px; height:409px; position:absolute; top:0px; left:65px; overflow: hidden;}
	/* Slides */
	#slide_01, #slide_02, #slide_03, #slide_04, #slide_05 {width:820px; height:409px; position:absolute; bottom:0px; }
	#slide_01 {left:0px;}
	#slide_02, #slide_03, #slide_04, #slide_05 {left:840px;}
	/* Slide Copy */
	.slidetxt {width:230px; position:absolute; right:0px; font-family:Arial, Helvetica, sans-serif; color:#3b3b3b;}
	.slidetxt h1 {font-size:1.25em; margin:0px 0px 10px 0px; padding:0px; text-transform: uppercase;}
	.slidetxt h2 {font-size:1.0625em; margin:10px 0px 10px 0px; padding:0px;}
	.slidetxt p, .slideul {font-size:.75em;}
	.slidetxt p {margin:0px 0px 5px 0px; padding:0px;}
	/* Slide List */
	.slideul {margin:0px; padding:0px; list-style:none;}
	.slideul li {margin: 0px 0px 5px 10px; padding:0px;}
	.slideicons {margin:0px; padding:5px 0px 0px 0px; list-style:none;}
	.slideicons li {margin: 0px 5px 0px 0px; padding:0px; display:inline;}

/*** About Area Styles ***/
#about_container {width:950px; height:100%; margin: 80px auto 0px auto; padding:0px; position:relative;}
#about_col1 {width:320px; height:100%; margin:0px 0px 0px 40px; padding:0px; float:left;}
#whodude {position:absolute; top:0px; left:360px;}
#about_col2 {width:220px; height:500px; margin:89px 0px 0px 0px; padding:0px; float:left; font-family:Arial, Helvetica, sans-serif; color:#3b3b3b; position:relative; z-index:5;}
#about_col3 {width:220px; height:500px; margin:89px 0px 0px 20px; padding:0px; float:left; font-family:Arial, Helvetica, sans-serif; color:#3b3b3b; position:relative; z-index:5;}
	/* Text Style */
	#about_col2 h1, #about_col3 h1 {font-size:1.25em; margin:0px 0px 10px 0px; padding:0px; text-transform: uppercase;}
	#about_col3 h2 {font-size:1.0625em; margin:0px 0px 10px 10px; padding:0px;}
	#about_col3 h2.inner {margin-top:10px;}
	#about_col2 p, #about_col3 p {font-size:.75em; margin:0px 0px 5px 0px; padding:0px;}
	/* Skills List */
	.skills_list {margin:0px 0px 0px 10px; padding:0px; list-style:none;}
	.skills_list li {float:left; margin:0px 0px 0px 5px; padding:0px;}

/*** Contact Area Styles ***/
#contact_container {width:950px; height:100%; margin: 80px auto 0px auto; padding:0px; position:relative; font-family:Arial, Helvetica, sans-serif; color:#3b3b3b;}
#contact_intro {}
.contact_msg {color:#3b3b3b;}
.send_error {color:red;}
.send_good {color:green;}
#contact_leftcol {width:520px; height:100%; margin:37px 0px 0px 0px; float:left;}
#contact_rightcol {width:340px; height:100px; margin:37px 0px 0px 30px; float:left;}

	/* Text Styles */
	#contact_intro p, #contact_rightcol p {font-size:.75em; margin:10px 0px 5px 0px; padding:0px;}
	#contact_rightcol h1 {font-size:1.25em; margin:10px 0px 10px 0px; padding:0px; text-transform: uppercase;}
	#contact_rightcol h2 {font-size:1.0625em; margin:10px 0px 10px 0px; padding:0px;} 

	/* Form Styles */
	label {font-size:1.25em; text-transform: uppercase; font-weight:bold; width:100px; height:25px; margin:0px 20px 0px 0px; padding:0px; position:relative; top:2px; display:block; float:left;}
	.cf_input {background-color:transparent; border: 1px solid #3b3b3b; width:338px; height:23px; margin:0px; font-size:.875em; padding:0px 5px 0px 5px;}
	.cf_select {background-color:transparent; border: 1px solid #3b3b3b; width:350px; height:25px; margin:0px; font-size:.875em; padding:0px;}
	.cf_option {background-color:transparent;}
	.cf_textarea {background-color:transparent; border: 1px solid #3b3b3b; width:338px; height:182px; margin:0px; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:.875em;}
	.cf_submit {background-color:transparent; border:none; font-size:1.25em; text-transform: uppercase; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#3b3b3b; position:relative; left:385px; top:-31px;}
	.error_msg {font-size:.75em; font-style:italic; color:#c9252c; margin:15px 0px 15px 0px; padding:0px;}
	#msg_error {width:300px;}
	
/*** FOOTER STYLES ***/
#footer_outer {width:100%; height:30px; background-color:#3b3b3b;}
#footer_inner {width:960px; height:22px; margin-left:auto; margin-right:auto; padding-top:8px; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#fff; position:relative;}
.copyright {position:absolute; right:0px; margin: -12px 0px;}
#footer_inner a:active, #footer_inner a:link, #footer_inner a:visited {color:#fff; font-style:normal; text-decoration:none;}
#footer_inner a:hover {text-decoration:underline;}

/*** General Styles ***/
.clearme {clear:both; height:0px; width:0px;}
img {border:none;}
.hidden_link {visibility:hidden; display:none;}