<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style/style.css' | url }}">
    <link rel="canonical" href="https://jameskrayer.com" />
  </head>
  <body>
    <h1>{{ title }}</h1>

    {{ content | safe }}
  </body>
</html>
