<header class="site-header">
  <h1 class="site-title"><a class="site-link" href="/">James Krayer</a></h1>

  <nav class="site-nav">
<!--     <a class="site-link" href="/">Home</a> -->
<!--     <a class="site-link" href="/blog/">Blog</a> -->
  </nav>
</header>
