<header class="site-header">
  <h1 class="site-title">James Krayer</h1>

  <nav class="site-nav">
    <a class="site-link" href="/">Home</a>
    <a class="site-link" href="/blog/">Blog</a>
  </nav>
</header>
