<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    <title>James Krayer | {{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style/style.css' | url }}">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="canonical" href="{{'https://jameskrayer.com' + page.url }}" />
  </head>
  <body>

    {% include "header.njk" %}

    <article class="post">
      <header class="post-header">
        <h1>{{ title }}</h1>
        <time class="post-time" datetime="{{ date | htmlDateString }}">{{ date | readableDate}}</time>
      </header>
      <div class="post-content">
        {{ content | safe }}
      </div>
      <footer class="post-footer">
        This post was tagged:
        {% for tag in tags %}
          {% if tag !== 'posts' %}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{% if loop.last === false %}, {% endif %}
          {% endif %}
        {% endfor %}
      </footer>
    </article>

    {% include "footer.njk" %}
  </body>
</html>
