body,
html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

/* Nav */
.root-navigation {
}
.root-navigation > a {
  display: block;
}

/* Layout */
.article-full-width {
  max-width: 670px;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media screen and (width >= 702px) {
  .article-full-width {
    margin-right: auto;
    margin-left: auto;
  }
}
