.inline-code,
.formatted-code {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

.formatted-code {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    line-height: 1.4;
    word-wrap: break-word;
}

.inline-code {
    padding: .125rem;
}

.formatted-code-insert {
    color:white;
    background-color: #333;
}

.footnotes { margin-top: 2rem; }


