/**
 * TOC
 *
 * typescale: https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.2&maxFontSize=16&maxWidth=1280&maxRatio=0&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280
 *
 * 1. Globals
 * 2. Links
 * 3. Site Blocks
*/
:root {
    --fs-base: 1rem;
    --fs-sm: .83rem;
    --fs-md: 1.2rem;
    --fs-lg: 1.44rem;
    --fs-xl: 1.73rem;
    --fs-xxl: 2.07rem;
    --fs-xxxl: 2.49rem;
    --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --black: #222;
    --blue: #0085bf;
    --darkBlue: #00354c;
    --lightgray: #999;
    --gray: #666;
    --slightlyDarkerBlack: #000;
}

/* 1. Globals */
html,
body {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: var(--sans-serif);
    font-weight: 300;
    line-height: 1.6;
    color: var(--black);
}

h1, h2, h3, h4 {
  font-weight: 200;
  letter-spacing: .04em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}


h1 {
  font-size: var(--fs-xxxl);
  margin: 0 0 .5em 0;
}

h2 {
  font-size: var(--fs-xxl);
}

h3 {
  font-size: var(--fs-xl);
}

h4 {
  font-size: var(--fs-lg);
}

h5 {
  font-weight: 300;
  font-size: var(--fs-md);
}

h6 {
  font-weight: 400;
  font-size: var(--fs-base);
}

sup {
  line-height: 0;
}

/* 2. Links */
a,
a.visited {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--darkBlue);
  text-decoration: underline;
}

.header-anchor {
  position: relative;
}

.header-anchor > a[href^="#"],
.header-anchor > a[href^="#"]:hover,
.header-anchor > a[href^="#"]:active {
  color: var(--black);
  text-decoration: none;
}

.header-anchor > a[href^="#"]:hover:before {
  content: "#";
  color: #ccc;   /* var(--gray); */
  position: absolute;
  left: -1.25ex;
  font-weight: 400;
}

/* 3. Site Blocks */
#main {
    box-sizing: border-box;
    padding: 0 1rem;
    margin: 0 auto;
}

@media screen and (min-width: 780px) {
    #main {
        max-width: calc(78ex + 2rem);
    }
    
}

#site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 0;
  border-bottom: 2px solid var(--blue);
  margin-bottom: 1rem;
}

#site-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

#site-title > a {
  color: var(--black);
  text-decoration: none;
}

/* 3. */
.byline {
  color: var(--gray);
  text-align: right;
  font-size: var(--fs-sm);
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: var(--fs-sm);
  list-style-type: none;
}

.breadcrumbs > li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.breadcrumbs > li::after {
  content: " > "
}

.breadcrumbs > li:last-of-type::after {
  content: ""
}


/* html,
body {
  max-width: 50em;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  font: 300 1.125rem/1.5 "Cormorant Garamond", Times, "Times New Roman", serif;
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 1.375rem;
  }
}
.site-header, .site-footer {
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 1em;
}
.site-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  margin-bottom: 1em;
}
.site-footer {
  border-top: 1px solid #444;
  margin-top: 1em;
}
.site-nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.site-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: #000;
}

.post {
  box-sizing: border-box;
}
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 0.375em;
  margin-bottom: 0.375em;
  line-height: 1;
}
.post h2,
.post h3 {
  font-weight: 400;
}
.post h4,
.post h5,
.post h6 {
  font-weight: 400;
}
.post h2 {
  font-size: 1.75em;
  text-transform: capitalize;
}
.post h3 {
  font-size: 1.5em;
}
.post h4 {
  font-size: 1.25em;
}
.post h5 {
  font-size: 1.125em;
}
.post h6 {
  font-size: 1em;
}
.post p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.post pre[class*=language-] {
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  font-size: 1rem;
}
.post-time {
  font-size: 0.75em;
  color: #444;
  font-style: oblique;
}
.post-footer {
  font-size: 0.875em;
}
.post-tag {
  font-weight: 700;
  text-decoration: none;
  color: #005980;
}
.post-tag:hover {
  text-decoration: underline;
}
.post-tag:visited {
  text-decoration: line-through;
}

.site-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.title-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.125;
  text-transform: capitalize;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875em;
} */

