/**
 * TOC
 * *
 * 1. Reset
 * x. Position
 * 2. Grid
 * x. W x H
 * 3. Padding & Margin
 * 4. Borders
 * 5. Text
 * 6. Color and Background Color
 * x. Tables
 * x. Modules
 */

/* 1. Reset */
html, body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

html, body {
  font-family: Futura, Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: .5em;
}

input, button { border: none; }

#app {
  padding: 1rem;
}

/* x. Position */
.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.right { right: 0; }

/* 2. Grid */
.flex { display: flex; }
.flex-hc { justify-content: center; }
.flex-vc { align-content: center; }
.flex-wrap { flex-wrap: wrap; }
.column { flex-direction: column; }
.col-50 { flex: 1 1 50%; }

/* Display */
.block { display: block; }

/* x. W x H */
.w100 { width: 100%; }

/* 3. Padding & Margin */
.pad1 { padding: 1em; }
.mt1 { margin-top: 1em; }
.mb1 { margin-bottom: 1em; }
.mh1 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.mv1 { margin-right: .25rem; margin-left: .25rem; }

/* 4. Borders */
.bb { border-bottom: 1px solid; }
.br { border-radius: .3em; }

/* 5. Text */
.txt-large { font-size: 1.25rem; }
.txt-small { font-size: .875em; }
.txt-smaller { font-size: .625em; }
.txt-right { text-align: right; }
.txt-left { text-align: left; }
.txt-center { text-align: center; }
.head-small { font-size: 1rem; }
.weight-400 { font-weight: 400; }
.weight-700 { font-weight: 700; }
.caps { text-transform: uppercase; }
.underline { text-decoration: underline; }
.no-underline { text-decoration: none; }
.strike { text-decoration: line-through; }

/* 6. Color and Background Color */
.txt-gray { color: #aaa; }
.txt-white { color: white; }

.bg-gray { background-color: #aaa; }
.bg-blue { background-color: #0085bf; }
.bg-blue:hover { background-color: #006cbf; }

.border-black { border-color: black; }

/* x. Tables */
.cell { padding: .25em; }
